@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  overflow: auto;
}

/* html {
  scroll-behavior: smooth;
} */

/*TRANSITION*/
a,
.btn {
  transition: all 300ms ease;
}

#navbar-user .nav-links li a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #ff3300;


}

.logo:hover {
  cursor: default;
}

#user-dropdown ul {
  position: absolute;
  top: 64px;
  right: 0px;
  width: 100%;
}

.bg-navBar {
  background-color: #300a6f;
  /* background-color: hsl(240, 100%, 25%); */
  /* background-color: #1f102f */
  /* background-color: #07182E */
  background-color: #002147;

}

.hamburger-bg {
  /* background-color: #1f102f; */
  /* background-color: #0038a0; */
  background-color: #fa200c;
}

.hamburger-div ul li a {
  color: white;
  text-align: center;
}

.hamburger-div ul li a:hover {
  /* background-color: #00a000; */
  background-color: #fa200c;
  transform: scale(1.2);
}


.active {
  display: flex;
}

